/* Seleciona todos os elementos do html  */
*{
    /* Zerar os espaçamentos dos elementos */
    margin: 0;
    padding: 0;
    /* Considera a borda ao definir largura e altura */
    box-sizing: border-box;
}

body{
    /* Define uma família padrão de fonte  */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* Define o tamanho padrão da fonte  */
    font-size: 16px;
    /* Define cor de fonte padrão  */
    color: #333;
    /* Define o alinhamento padrão dos textos  */
    text-align: center;
}

/* Seleciona todos os elementos com a
classe "container" */
.container{
    /* Define a largura miníma  */
    min-width: 400px;
    /* Define a largura máxima */
    max-width: 1200px;
    /* Define uma cor de fundo */
    background-color: gray;
    /* Centraliza container  */
    margin: 0 auto;
}

header{
    background-color: #333;
}

a.logo{
    /* inline-block permite que o elemento
    tenha altura e largura */
    display: inline-block;
    width: 150px;
}

a.logo>img{
    width: 100%;
}

li{
    list-style-type: none;
}

a:link,
a:visited{
    color: #EBEBEB;
    text-decoration: none;
}

.banner{
    /* Define uma imagem de fundo  */
    background-image: url(../img/banner.jpg);
    /* Define a altura do elemento  */
    height: 300px;
    /* Define o tamanho da imagem de fundo  */
    background-size: cover;
    /* Define a posição do fundo  */
    background-position: center;
}

h1{
    color: #FFF;
    /* background-color: rgba(0, 0, 0, .5); */
    text-shadow: 2px 2px 2px rgb(226, 96, 96);
    text-shadow: 2px 2px 2px #CDA75E;
}

figure{
    width: 390px;
    margin: 10px auto;
}

figure img{
    width: 100%;
}

footer{
    background-color: #222;
    padding: 30px 40px;
}

footer p{
    color: #999;
}

@media only screen and (min-width: 600px){
    header{
        height: 75px;
    }
    header a{
        float: left;
        margin-top: 7px auto;
    }
    header a img{
        padding: 10px;
    }
    header nav{
        float: right;
    }
    nav ul{
        margin: 10;
        padding: 10px;
    }
    nav ul li{
        display: inline-block;
        align-items: right;
        margin-top: 10px;
    }
    h1{
        background-color: rgba(0, 0, 0, 0.7);
    }
    .galeria{
        display: block;
        background-color: white
    }
    figure{
        display: inline-block;
        width: 49%;
        margin: 5px auto;
    }
}

@media only screen and (min-width: 900px){
    figure {
        display: inline-block;
        width: 32%;
        margin: 5px auto;
    }
}

@media only screen and (min-width: 1200px){
    figure {
        display: inline-block;
        width: 24%;
    }
    .big{
        width: 49%;
    }
    
}